<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br/>
<span><a href="/addcategory">Add a new category? </a><a href="/add"> Add a new car?</a></span><br/>
<br/>

<form action="#"
      th:action="@{/processcategoryform}"
      th:object="${category}"
      method="post">
    <div class="form-group">
        <input type="hidden" th:field="*{id}" />

        <input type="text" class="form-control" th:field="*{name}" />

        <span th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"></span><br/>

        <input type="submit" class="btn btn-primary mb-2" value="Submit" />
    </div>
</form>

<div class="row">
    <div class="col-md-4" th:each="category : ${categories}">
        <a th:text="${category.name}"></a>
    </div>
</div>

</body>
</html>